.signin{
    margin-top:120px;
    padding: 100px 0 150px;
    background-image:url("../images/signin_bg.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    
}
/*로그인*/
.signin h1{
    color:#fff;
    text-align:center;
    margin-bottom:24px;
    font-size:30px;
    font-weight:700;
}
/**/
.signin_card{
    width:500px;
    margin:0 auto;
    background-color:#F6F6F6;
    border-radius:6px;
    box-shadow:2px 2px 20px rgba(0,0,0,.3);
    color:#555;
}
/*문구*/
.signin_card strong{
    color:#006633;
    font-weight:700;
}
.signin_card h2{
    color:#BDBDBD;
    text-align:center;
    padding: 30px;
    font-size:18px;
    border-bottom:1px solid #ddd;

}

.signin .signin_card form {
    padding:30px 22px;
 
}
/*입력 창*/
.signin .signin_card form input{
    width:100%;
    margin-bottom:12px;
    padding:15px;
    border: 1px solid #ddd;
    border-radius:4px;
    outline:none;
    box-sizing:border-box;
    font-size:14px;
}
.signin .signin_card form [type="submit"]{
    width:100%;
    background-color:#006633;
    color:#fff;
    border:none;
    font-size:20px;
    
}
.signin_card p{
    font-size:12px;
    color:#006633;
    text-align:center;
}
.signin_card .actions{
  
    display:flex;
    border-top: 1px solid #ddd;
  
}
.signin_card .actions a{   
    color:#BDBDBD;
    flex-grow:1;
    flex-basis:0;
    padding:20px;
   border-right: 1px solid #ddd;
   color:#555;
   text-align:center;
    font-size:15px;
    
}

.signin_card .actions a :last-child{
    border-right:none;
}
.signin_card .actions a:hover{
    text-decoration:underline;
} 

/*.signin h1{
  color:#fff;
  font-size:30px;
  text-align:center;
  margin-bottom:24px;
}
.signin .signin_card{
    width:500px;
    margin: 0 auto;
    border-radius:6px;
    background-color:#F6F5F0;
    box-shadow:2px 2px 20px rgba(0,0,0,.3);
    color:#555;

}
.signin .signin_card h2{
    text-align:center;
    padding:30px;
    font-size:18px;
    border-bottom:1px solid #ddd;


}
.signin .signin_card form{
    padding:30px 22px;

}
.signin .signin_card form input{
    width:100%;
    margin-bottom:12px;
    padding:15px;
    border:1px solid #ddd;

}*/